In [2]:
import pandas as pd
import numpy as np
import os
from scipy.interpolate import interp1d
import matplotlib.pyplot as plt

In [3]:
# path = 'D:\\radar_pull\\OpencvTest\\OpencvTest\\3.txt'
# file = open(path, "r")
# data = file.read().splitlines() 

# df_data1 = [data[i].split(";")for i in range(len(data))]
# df_data2 = [data[len(data) - 1].split(";")]
# df1 = pd.DataFrame(df_data1)
# df2 = pd.DataFrame(df_data2)
# track_info = pd.DataFrame()
# df1

## Load文件

In [4]:
# path = 'D:\\radar_pull\\OpencvTest\\OpencvTest'
# begin = 0
# end = 1000
# def get_track_info(path,begin,end):
#     if(path):
#        count = 0
#        df = None
#        track_info = pd.DataFrame()
#        while(begin <= end):
#            path_copy = path + '\\{}.txt'.format(begin)
#            file = open(path_copy, "r")
#            if (count == 0):
#                data = file.read().splitlines()  
#                df_data = [data[i].split(";")for i in range(len(data))]
#                df = pd.DataFrame(df_data)
#                file.close()
#                count += 1
#                begin += 1
#            else:
#                 frame = [df,find_last_line(path_copy)]
#                 df = pd.concat(frame)
#                 begin += 1
#                 count += 1
                
#     return df     
                
                
# path = 'D:\\radar_pull\\OpencvTest\\OpencvTest\\343.txt'  
path = '784.txt'
def get_track_info_new(path):
    file = open(path, "r")
    data = file.read().splitlines() 
    file.close()
    df_data1 = [data[i].split(";")for i in range(len(data))]
    df1 = pd.DataFrame(df_data1)
    track_info = pd.DataFrame()
#     return df1.apply(lambda x: '0&0' in x)
#     return pd.concat([df1,pd.DataFrame([df1.apply(lambda x: '0&0,' in x.values).values])])
    return df1.replace({'9999&9999,':None})

In [5]:
aa = (get_track_info_new(path))

## 处理坐标

In [6]:
def get_coordinate(coordinate_data):
    if(coordinate_data == '0&0,' or coordinate_data == None or coordinate_data == '9999&9999,' or coordinate_data == ''):
        if coordinate_data == '':
            return None
        else:
            return coordinate_data
    else:
        return pd.Series(coordinate_data.split(",")[:-1]).apply(lambda x:(int(x.split('&')[0]),int(x.split('&')[1]))).values.tolist()
def gget_coordinate(a_serie,df):
    df.loc[:,a_serie.name] = a_serie.apply(lambda x: get_coordinate(x))
def cor(df):
    df.apply(lambda x: gget_coordinate(x,aa))

## 筛选数据

In [7]:

    
def select_data(column):
    if len(np.where(column == '0&0,')[0] > 0):  
        index_ = np.where(column == '0&0,')[0][0]
    else:
        return False
    if(len(column.loc[:index_].dropna()) >= 4):
        return True
    else:
        return False
    
def select_num_outline(df):
    a_s = df.apply(lambda x:select_data(x),axis = 0)
    a_s.name = 'boo'
    df = df.T.join(a_s)
    df = df[df['boo']].T.drop('boo')
    return df

## 处理数据

In [8]:
def clean_data(df):
    cor(aa)
    return select_num_outline(aa)

In [14]:
# df_ = clean_data(aa)
df_

,10,11,16,23,24,27,32,36,41,46,...,4934,4935,4946,4947,4956,4973,4993,5001,5002,5025
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,"[(100, 179), (99, 180), (98, 181), (97, 182), ...","[(155, 169), (154, 170), (153, 171), (152, 171...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,"[(101, 177), (100, 178), (99, 179), (98, 180),...","[(160, 167), (159, 168), (158, 168), (157, 168...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,None,None,None,None,None,None,None,None,None,None,...,"[(474, 519), (474, 520), (474, 521), (475, 522...","[(499, 475), (499, 476), (499, 477), (500, 477...","[(623, 412), (622, 413), (622, 414), (621, 415...","[(365, 385), (365, 386), (364, 387), (364, 388...","[(489, 530), (488, 531), (487, 531), (486, 532...","[(483, 390), (483, 391), (482, 392), (482, 393...","[(547, 427), (547, 428), (547, 429), (547, 430...","[(598, 359), (597, 360), (597, 361), (597, 362...","[(755, 301), (754, 302), (754, 303), (755, 303...",None
420,None,None,None,None,None,None,None,None,None,None,...,"0&0,","0&0,","[(622, 413), (621, 414), (621, 415), (621, 416...","[(370, 402), (369, 403), (368, 404), (367, 405...","[(494, 532), (493, 533), (492, 534), (491, 535...","[(480, 384), (479, 385), (478, 385), (478, 386...","[(549, 426), (549, 427), (549, 428), (549, 429...","[(601, 365), (601, 366), (601, 367), (601, 368...","[(756, 301), (756, 302), (756, 303), (756, 304...","[(559, 425), (558, 426), (558, 427), (558, 428..."
421,None,None,None,None,None,None,None,None,None,None,...,None,None,"[(630, 412), (629, 413), (628, 413), (627, 414...","0&0,","[(497, 532), (496, 533), (495, 534), (494, 535...","[(482, 405), (482, 406), (482, 407), (482, 408...","[(551, 425), (551, 426), (551, 427), (550, 428...","[(604, 363), (604, 364), (604, 365), (604, 366...","[(759, 300), (758, 301), (759, 302), (760, 302...","[(563, 426), (563, 427), (562, 428), (563, 429..."
422,None,None,None,None,None,None,None,None,None,None,...,None,None,"0&0,",None,"[(462, 579), (462, 580), (462, 581), (462, 582...","0&0,","[(555, 421), (554, 422), (553, 422), (552, 422...","0&0,","[(761, 298), (761, 299), (761, 300), (762, 300...","[(566, 425), (566, 426), (566, 427), (565, 428..."
423,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,"0&0,",None,"0&0,",None,"0&0,","0&0,"

## 填充数据

In [ ]:
def fill_data(df,coordinate_data,length = 100):
    """
    利用Numpy linspace填充data list 到指定长度
    """
    data = coordinate_data.dropna()
    df[coordinate_data.name]
    need_fill_length = length - len(data)
    blank_num = len(data) - 1
    num_for_blank =   need_fill_length//blank_num

In [222]:
(df_[11].dropna())

3    [(155, 169), (154, 170), (153, 171), (152, 171...
4    [(160, 167), (159, 168), (158, 168), (157, 168...
5    [(161, 156), (161, 157), (161, 158), (160, 159...
6                                                 0&0,
Name: 11, dtype: object

In [212]:
def count_num(col):
    return len(col.dropna())

In [156]:
def find_last_line(path):  
    with open(path, 'rb') as f:  #打开文件
        first_line = f.readline()  #读第一行
        off = -50      #设置偏移量
        while True:
            f.seek(off, 2) #seek(off, 2)表示文件指针：从文件末尾(2)开始向前50个字符(-50)
            lines = f.readlines() #读取文件指针范围内所有行
            if len(lines)>=2: #判断是否最后至少有两行，这样保证了最后一行是完整的
                last_line = lines[-1] #取最后一行
                break
            #如果off为50时得到的readlines只有一行内容，那么不能保证最后一行是完整的
            #所以off翻倍重新运行，直到readlines不止一行
            off *= 2
        f.close()
        data_list = [last_line.decode()[:-2].split(";")]
        df = pd.DataFrame(data_list)
        return df

### pic to gif

In [30]:
def pic_to_gif(begin,end):
    from PIL import Image
    # Create the frames
    frames = []
    for i in range(begin,end + 1):
         new_frame = Image.open('D:\\radar_pull\\OpencvTest\\OpencvTest\\{}.png'.format(i))
         frames.append(new_frame)

    # Save into a GIF file that loops forever
    frames[0].save('png_to_gif.gif', format='GIF',
                   append_images=frames[1:],
                   save_all=True,
                   duration=50, loop=0)

In [31]:
pic_to_gif(1,700)

In [135]:
a = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [138]:
a.apply(lambda x : print(x),axis = 0)

0     1
1     4
2     7
3    10
Name: 0, dtype: int64
0     2
1     5
2     8
3    11
Name: 1, dtype: int64
0     3
1     6
2     9
3    12
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object